{% extends "blog/base.html" %}
{% block body_block %}
    <h1>New Comment</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-secondary">Post Comment</button>
    </form>
{% endblock %}