{% extends 'blog/base.html' %}
{% block body_block %}
    {% for post in post_list %}
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p>Created: {{ post.create_date|date:"d-m-Y" }}</p>
        <p>{{ post.text|truncatechars:5 }}</p>
    {% endfor %}
{% endblock %}