{% extends "blog/base.html" %}

{% block body_block %}
<h1>Delete {{ post.title }}</h1>
<form method="POST">
    {% csrf_token %}
    <input type="submit" class="btn btn-danger" value="Delete">
    <a href="{% url 'post_detail' pk=post.pk %}">Cancel</a>
</form>
{% endblock %}