{% extends "blog/base.html" %}
{% block body_block %}
    <h1>Available Blogs!</h1>
    {% for post in post_list %}
    <li><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></li>
    <div>
        <p>Published on: {{ post.published_date|date:"d M Y" }}</p>
        <p>Comments: {{ post.approved_comments.count }}</p>
    </div>
    {% endfor %}
{% endblock %}