{% extends 'blog/base.html' %}
{% block body_block %}

<h1>{{ post.title }}</h1>
<p>By: {{ post.author }}</p>
<p>Published on: {{ post.published_date }}</p>
<p>{{ post.text }}</p>

{% if user.is_authenticated %}
<div class="container">
    <a class="btn btn-warning" href="{% url 'post_edit' pk=post.pk %}">
        <span class="glyphicon glyphicon-pencil"></span>
    </a>
    <a class="btn btn-danger" href="{% url 'post_remove' pk=post.pk %}">
        <span class="glyphicon glyphicon-remove"></span>
    </a>
    <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
</div>
{% endif %}

<div class="container">
    {% for comment in post.comments.all %}
        <br>
        {% if comment.approved_comment or user.is_authenticated %}
            <p>{{ comment.text }}</p>
            <p>Commented by: {{ comment.author }}</p>
            {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}">
                    <span class="glyphicon glyphicon-remove"></span>    
                </a>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
<br>
<a class="btn btn-primary" href="{% url 'add_comment_to_post' pk=post.pk %}">Add Comment</a>

{% endblock %}